@import 'tailwindcss';

@theme {
  --color-fk-yellow: #fbdb1d;
  --color-fk-black: #201e1e;
  --font-roboto: 'Roboto', sans-serif;
}

.fii-background {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1440px;
  background-image: url('../../public/fii_2.svg');
  background-repeat: repeat;
  display: flex;
  align-items: center;
}

.fii-background > div {
  z-index: 1;
}
