@import '../../index.scss';

.adminTabLinkContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 30px 20px;
  padding: 20px;
  background-color: $primary;
}

.adminTabLink {
  text-decoration: none;
  color: white;
}
